<!DOCTYPE html>
<html>
	<head>
		<!-- Meta Tag -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='copyright' content=''>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}
				{{title}}
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="/bundles/easyadmin/app.css">
			<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>

			<script src="/bundles/easyadmin/app.js"></script>
		{% endblock %}
	</head>
	<body class="h-100">
		<div class="row h-100 w-100">
			{% include "admin/inc/sidebar.html.twig" %}
			{% block body %}{% endblock %}
		</div>
		{% block javascript %}
			<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
			<script>
				$(document).ready(function () {
                    $('#example').DataTable();
                });
			</script>
		{% endblock %}

	</body>
</html>
