{% extends "admin/base.html.twig" %}

{% block body %}
	<div class="container my-3 col">

		<h1>Modifer la catégorie</h1>

		{{ include('crud_category/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('crud_category_index') }}">Retourner à la liste</a>
	</div>
{% endblock %}
