{% extends "admin/base.html.twig" %}

{% block body %}
	<div class="container my-3 col">

		<h1>Edit Carousel</h1>

		{{ include('crud_carousel/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('crud_carousel_index') }}">Retourner à la liste</a>
	</div>
{% endblock %}
