<section class="hero-area4">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="home-slider-4">
					{% for items in carousel %}
						<div class="big-content" style="background-image: url('{{asset('uploads/' ~ items.image)}}');">
							<div class="inner">
								{% if items.teaser %}
									<h4 class="title">
										{{items.teaser}}
									</h4>
									{% else %}
								{% endif %}

								{% if items.description %}
									<p class="des">{{items.description}}</p>
									{% else %}
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
