{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container my-5">

    <h1>Ajouter une image au carousel</h1>

    {{ include('crud_carousel/_form.html.twig') }}

    <a href="{{ path('crud_carousel_index') }}">Retourner à la liste</a>
    </div>
{% endblock %}
