{% extends "admin/base.html.twig" %}

{% block body %}
<div class="container my-5 col">

    <h1>Ajouter un produit</h1>

    {{ include('crud_product/_form.html.twig') }}

    <a href="{{ path('crud_product_index') }}">Retourner à la liste</a>
</div>
{% endblock %}
